@using ParkingLot.Web.Extensions;
@model ParkingLot.Web.Models.Config
<div ng-controller="HomeController as home" ng-init="init(@Model.ToJson())">
    <toaster-container></toaster-container>
    <div style="display: block">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#" data-toggle="modal" data-target="#getDataModal">Get Data</a></li>
                        <li><a href="#" data-toggle="collapse" data-target="#myNavbar" ng-click="home.restoreFullData()">All Time</a></li>
                        <li><a href="#" data-toggle="collapse" data-target="#myNavbar" ng-click="home.selectParkingLot()">Select Parking Lot</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="interval-range">
        <span class="interval-range-label">Select time range for analysis:</span>

        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group datetime-picker-input">
                    <input type="text" class="form-control" date='dd/MM/yyyy HH:mm' data-ng-model="home.data.filterStartRange" placeholder="Start time"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="home.data.filterStartRange" data-datetimepicker-config="{ dropdownSelector: '#dropdownStart' }" data-before-render="beforeRenderRangeDate($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="home.getPartialData()" />
            </ul>
        </div>

        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group datetime-picker-input">
                    <input type="text" class="form-control" date='dd/MM/yyyy HH:mm' data-ng-model="home.data.filterEndRange" placeholder="End time"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="home.data.filterEndRange" data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd' }" data-before-render="beforeRenderRangeDate($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="home.getPartialData()" />
            </ul>
        </div>

    </div>

    <canvas id="parking-chart" class="usage-chart"></canvas>

    <span class="max-usage-description">
        <label>Max Cars:</label>
        <span ng-bind="home.data.maxOccupationRate"></span>
    </span>

    <span class="max-usage-description">
        <label>at time:</label>
        <span ng-bind="home.data.maxOccupationDate"></span>
    </span>

    <div class="modal fade" id="getDataModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-toggle="collapse" data-target="#myNavbar">&times;</button>
                    <h4 class="modal-title">API Url</h4>
                </div>
                <div class="modal-body">
                    <span>
                        <input type="text" ng-model="home.urls.api" class="col-md-12"/>
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="collapse" data-target="#myNavbar">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="collapse" data-target="#myNavbar" ng-click="home.getData()" >Get Data</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts { 
    @Scripts.Render("~/bundles/chart")
}